.Header{
    width: 100%;
    height: 60px;
    background-color: dimgray;
}

.Header h1{
    font-size: 30px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    color: black;
    padding: top 15px; ;
}